.services .icon-box {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .services .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    color: #3fbbc0;
    overflow: hidden;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
  }
  .services .icon:hover {
    color: red;
    box-shadow: 10px 10px 15px black;
  }
  
  .services .icon i {
    font-size: 36px;
    line-height: 0;
  }
  
  .services .icon-box:hover .icon {
    box-shadow: 0px 0 25px rgba(63, 187, 192, 0.3);
  }
  
  .services .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
  }
  
  .services .title a {
    color: #444444;
    transition: 0.3s;
  }
  
  .services .title a:hover {
    color: #3fbbc0;
  }
  
  .services .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #3fbbc0;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .services .description {
    line-height: 24px;
    font-size: 14px;
  }
  .container a{
    text-decoration: none;
    color: darkblue;
  }
body{
  background-image: url('https://t3.ftcdn.net/jpg/02/16/47/22/360_F_216472247_cT66WDoS0fp1s3wC7eaykMJNDGVbOBPq.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  